
@font-face {
    font-family: "Stalinist One";
    src: url("font/StalinistOne-Regular.ttf");
  }
:root{
    --Color-bg-header: #000000;
    --Color-bg-body: #f7f449; /*VERDE CLARO*/
    --Color-title: #e62f2f; /*ROJO*/
    --Color-text: #0f0e0e; /*NEGRO*/

    --color-degra: ;

    --bg-body: url('../img/fondo-linea.png');
    --b-h: url('../img/b-h.png');

    --new-01: url('../img/news/new-memorama.png');

}

/*RESTABLECIMIENTO DE CSS*/
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-size: 4vw;
    color: var(--Color-bg-body);
    font-family: "Stalinist One";
    margin: 0;
}
h3{
    font-size: 3vw;
    color: red;
    text-align: right;
    margin: 0;
}

body{
    background: var(--Color-bg-body);
    background-image: var(--bg-body);
    color: var(--Color-text);
    width: 100%;
    margin: 0 auto;
}

a{
    text-decoration:none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
}

ul{
    list-style:none;
}

section{
    margin: 0 auto;
    padding: 0:auto;
}

header{
    background: var(--Color-bg-header);
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid white;
}
    
    
    #logo-nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;;

    }
        .logo{
            display: flex;
            width: 30%;
            padding: 1%;
        }

            .logo img{
                margin: 0%;
            }

            .name{
                margin-left: 2%;
                padding: 1%;
                display:flex;
                flex-direction: column;
                align-content: flex-start;
                justify-content: center;
                font-size: 2.5vw;
                color:#f7f449;
            }

        #b-h{
            display: none;
        }

        nav{
            width: 70%;

        }
            
        .primary{
            display:flex;
            justify-content: flex-end;
            padding-right: 5%;

            
        }

            .primary > li {
                position:relative;
                padding: 1%;
                margin: 2% 2% 2% 2%;
                
            }

                .primary > li:hover{
                    background-color: var(--Color-text);

                }

                .primary > li:hover > .secondary{
                    visibility: visible;
                    display: flex;
                    opacity: 100%;
                }

                    .primary li a{
                        font-size: 1.7vw;
                        color: var(--Color-bg-body);
                    }

                        .primary > li::first-letter{
                            font-size: 2vw;
                            color: var(--Color-title);
                        }

                    .secondary{
                        position: absolute;
                        visibility: hidden;
                        display: none;
                        flex-direction: column;
                        opacity: 0%;
                        justify-content: flex-start;
                        margin: 10%;
                        z-index: 4;

                    }

                        .secondary li{
                            background-color: var(--Color-bg-header);
                            width: 220%;           
                            padding: 10%;

                        }
                    

main{
    width: 100%;
    min-height: 100hv;
    margin: 0 auto;
    padding: 0;
}

#news {
    background-image: var(--new-01);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 540px;
    padding: 2%;
    margin: 0% auto; 
    display: flex;
    justify-content: start;
    align-content: center;
    flex-direction: column;
  }

  .inline{
      display: flex;
      flex-direction: row;
  }

  input{
      margin: 5%;
  }

  .desc{
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-content: space-between;
      text-align: right;
      margin: 3%;

  }
  
footer{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 4%;
    background: var(--Color-bg-header);
    width: 100%;
    color: white;
}

@media (max-width: 768px) {

    nav{
        display: none;
    }

    #b-h{
        display: flex;
        background-color: #f7f449;
        background-image: var(--b-h);
        width: 45px;
        height: 45px;
        margin: 1%;
        opacity: 70%;
    }
    
    #b-h:hover{
        opacity: 100%;
        cursor: pointer;
    }

    #b-h:checked + nav{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}